{:paths   ["src"]
 :deps    {}
 :aliases {:kaocha {:extra-paths ["test"]
                    :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                                  cheshire/cheshire   {:mvn/version "6.1.0"}
                                  mvxcvi/alphabase    {:mvn/version "3.0.185"}}
                    :main-opts   ["-m" "kaocha.runner"]}
           :dev    {:extra-paths ["dev"]}
           :build  {:deps       {io.github.clojure/tools.build {:git/tag "v0.10.10"
                                                                :git/sha "deedd62"}
                                 slipset/deps-deploy           {:mvn/version "0.2.2"}}
                    :ns-default build}
           :neil   {:project {:name        com.outskirtslabs/sfv
                              :license     {:id "MIT"}
                              :description "A 0-dependency Clojure library for parsing and generating Structured Field Values for HTTP (RFC 9651/8941)"
                              :platforms   [:clj]
                              :created     "2026-02-16"
                              :status      :stable
                              :version     "0.1.0"}}}}
