#kaocha/v1
 {:bindings {kaocha.stacktrace/*stacktrace-stop-list* ["kaocha.runner"
                                                       "kaocha.plugin.capture_output"
                                                       "kaocha.testable"]}
  :tests
  [{:id :unit-jvm
    :type :kaocha.type/clojure.test
    :test-paths ["test"]
    :source-paths ["src"]
    :ns-patterns ["-test$"]}]

  :plugins [:kaocha.plugin/randomize
            :kaocha.plugin/filter
            :kaocha.plugin/capture-output]}
